html {background:url(../images/2017-07-11.jpg); text-align:center; color:#fff;  font-family: 'Roboto'; font-weight:lighter;}
.outer {margin:0px auto; padding:0px 1em; max-width:320px; }
.outer h1 { text-transform:uppercase; font-weight:700; margin:2em 0 0 0;}
.outer h4 {color:#ccc; font-weight:lighter;}
.box{color: #fff;padding: 20px;display: none;margin-top: 20px;}
.form-control {
display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #fff;
background-color: #181818;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}